@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root{
    --backgroundColor: #e4e9fe;
    --violetColor: #b17ded;
    --darkColor: #222222ff;
    --grayColor: #ddd;
    --whiteColor: #F1F1F1F1;


    /* Z-INDEX */
    --z-back: -10;
    --z-normal: 2;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* LETRAS */
    --bigger-font-size: 2.5rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.4375rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1.0625rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.8rem;
}

body{
    height: 100vh;
    background-color: var(--backgroundColor);
    font-family: 'Montserrat', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 600px;
}

header nav {
    background: var(--violetColor);
    text-align: center;
    color: var(--whiteColor);
    font-size: var(--h2-font-size);
    font-weight: bold;
    margin-bottom: 15px;
}

nav,.content{
    padding: 20px;
    transform: translateY(-1rem) scale(1.03);
    box-shadow: 0 6px 12px rgb(0 0 0 / 15%);
}

.content{
    background-color: var(--whiteColor);
    text-align: center;
}

.taksContainer .taks{
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--darkColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.taksContainer .taks input{
    margin-right: 30px;
}

.taksContainer .taks svg{
    width: 25px;
    margin-left: 30px;
}

.btnContainer{
    transform: translateY(25px);
}

.content .btnAddTaks{
    background-color: var(--violetColor);
    color: var(--whiteColor);
    padding: 10px;
    text-decoration: none;
    border-radius: 100px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 15%);
    transition: all .25s ease;
}

